:root {
    --color-blue-primary: #3596FF;
    --color-blue-secondary: #005DC1;
    --color-gray-soft: #8a8a8a;
    --color-gray-light: #757575;
    --color-gray: #4D4D4D;
    --color-gray-medium: #333333;
    --color-gray-shadow: #272727;
    --color-gray-midnight: #212121;
    --color-gray-dark: #0f0f0f;
    --color-white: #e4eaed;
    --color-black: #262829;
}

.form-input::placeholder {
    color: var(--color-gray-soft); 
}

.link {
    margin-top: 30px;
    color: var(--color-blue-primary) ;
}